<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="../css/mui.min.css">
	<link rel="stylesheet" type="text/css" href="../css/app.css">
</head>
<body>
	<div class="avital">
	    <div class="home-div"></div>
	    <h2>Avital<p>Mobile UI Kit</p></h2>
	    <ul class="avital-ul">
	        <li><input type="text" value="" placeholder="E-mail"/></li>
	        <li><input type="text" value="" placeholder="Password"/></li>
	    </ul>
	    <a href="register.html"><button class="avital-but home-but" ui-sref="avital">LOGIN NOW</button></a>
	    <div class="avital-div">
	        <span>Facebook</span><span>Coogle+</span>
	    </div>
	    <p class="avital-p">Dont have an ancount?</p>
	</div>
	<script src="../js/mui.min.js"></script>
</body>
</html>