<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="css/mui.min.css">
	<link rel="stylesheet" type="text/css" href="../css/app.css">
</head>
<body>
	<div class="pro">
        <h2><a href="../index.html"><span><img src="../images/l.gif" alt=""/></a></span>Profile<i><img src="../images/s.gif" alt=""/></i></h2>
        <div class="pro-div">
            Edvard Korus 
            <p>Artist,Web,Designer,Paris</p>
        </div>
        <ul class="pro-ul">
            <li>
                2560
                <p>LIKES</p>
            </li>
            <li>
                4025
                <p>FOLLOWERS</p>
            </li>
            <li>
                1278
                <p>FOLLOWING</p>
            </li>
        </ul>
        <a href="profile11.html"><button class="pro-but">FOLLOW +</button></a>
        <div class="pro-nav">
            <span>Posts</span>
            <span>Photos</span>
            <span>Message</span>
        </div>
    </div>
</body>
</html>