<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="css/mui.min.css">
	<link rel="stylesheet" type="text/css" href="../css/app.css">
</head>
<body>
	<div class="profile">
        <h2><a href="profile.html"><span><img src="../images/l.gif" alt=""/>
</a></span>Profile<i><img src="../images/s.gif" alt=""/></i></h2>
        <img src="../images/profile1_5.png" alt="" class="profile-img"/>
        <ul class="profile-ul">
            <li> 
                158K
                <p>FOLLOWERS</p>
            </li>
            <li>
                John Fredson
                <p>Writter</p>
            </li>
            <li>
                25K
                <p>FOLLOWINC</p>
            </li>
        </ul>
        <a href="profile22.html"><button class="profile-but">FOLLOW +</button></a>
        <div class="profile-Photo">
            <li>
                <img src="../images/profile2_1.png" alt=""/>
                <img src="../images/profile2_2.png" alt=""/>
            </li>
            <li>
                <img src="../images/profile2_3.png" alt=""/>
                <img src="../images/profile2_4.png" alt=""/>
            </li>
        </div>
    </div>
</body>
</html>