<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="css/mui.min.css">
	<link rel="stylesheet" type="text/css" href="../css/app.css">
</head>
<body>
	<div class="edit"> 
        <h2><a href="profile11.html"><span><img src="../images/l.gif" alt=""/></span></a>Edit Profile<i>× √</i></h2>
        <dl class="edit-dl">
            <dt><img src="../images/r.jpg" alt=""/></dt>
            <dd>upload a profile photo</dd>
        </dl>
        <ul class="edit-ul">
            <li>EMAIL<span><input type="text" class="lia1" value="pixelbuddha@info.com"/></span></li>
            <li>PASSWORD<span><input type="password" class="lia1" value="wobuzhidao"/></span></li>
            <li>REMEMBER ME<span>
                <label class="edit-lab">
                    <input type="checkbox" checked/>
                    <div class="tack">
                        <div class="handler"></div>
                    </div>
                </label>
            </span></li>
            <li>NAME<span>Edvard Korus</span></li>
            <li>TITLE<span>Web Designer</span></li>
            <li>LOCATION<span>Paris,France</span></li>
            <li>FACEBOOK<span>
                <label class="edit-lab">
                    <input type="checkbox" />
                    <div class="tack">
                        <div class="handler"></div>
                    </div>
                </label>
            </span></li>
            <li>TWITTER<span>
                <label class="edit-lab">
                    <input type="checkbox" checked/>
                    <div class="tack">
                        <div class="handler"></div>
                    </div>
                </label>
            </span></li>
        </ul>
    </div>
</body>
</html>