<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="css/mui.min.css">
</head>
<body>
	<div class="mui-content">
		<ul id="list" class="mui-table-view mui-table-view-chevron">
			<li class="mui-table-view-cell">
				<a class="mui-navigate-right" href="examples/avital.html">
					Avital 
				</a>
			</li>
			<li class="mui-table-view-cell">
				<a class="mui-navigate-right" href="examples/profile.html">
					Profile
				</a>
			</li>
			<li class="mui-table-view-cell">
				<a class="mui-navigate-right" href="examples/social.html">
					Social
				</a>
			</li>
		</ul>
	</div>
	<script src="../js/mui.min.js"></script>
</body>
</html>