/*
 *这是单独为hello mui准备的个性化css，可以覆盖标准mui的css定义；
 * 在实际项目开发时，建议为App单独写一个css文件，从而实现项目的自定义皮肤功能；
 * 
 * */
.mui-plus.mui-android header.mui-bar{
	display: none;
}
.mui-plus.mui-android .mui-bar-nav~.mui-content{
	padding: 0;
}
 
/*hm开头的表示仅为 Hello MUI示例定义*/

html, body{
  height: 100%;
  width: 100%; 
}
ul,ol{
	list-style: none;
}

.con-body{
	width: 100%;
	height: 100%;
	background: #00f;
}
.body{
   background:#201D25;
}
.hm-description{
	margin: .5em 0;
} 
.hm-description>li {
	font-size: 14px;
	color: #8f8f94;
}
.start-avital{
	font-weight: normal;
	margin:55px 0 40px 0; 
	text-align: center;
	font-size: 30px;
	color:#fff;
}
.start-avital u{
	font-weight: bold;
}
.mui-slider{
	background: url("./img/Logins_back_3.png") no-repeat;
	position: relative;
	overflow: unset;
	margin-top: 20px;
}
.mui-slider-indicator{
    position: absolute;
    bottom: -25px;
}
.mui-slider-item{
	background:#fff;
}
.mui-slider-title{
	color:#333;
}
.mui-btn-block{
	margin-top: 30px;
	padding-top:-15px;
	padding-bottom:-15px;
	height:45px;
	width:90%;
	margin-left: 5%;
	border-radius: 30px;
	font-size:14px;
}
.mui-icon{
	font-size: 16px;
}

.avital,.home,.register {
  height: 100%;
  width: 100%;
  background: url("../images/Login.png") no-repeat;
  background-size: 100% 100%;
  text-align: center; 
}
.avital h2,.home h2,.register h2 {
    position: absolute;
    top: 55px;
    left: 0;
    color: #fff;
    font-size: 22px;
    width: 100%;
    text-align: center;
    z-index: 10; 
}
.avital h2 p,.home h2 p,.register h2 p {
   font-size: 16px;
}
.avital .home-dl dt,.home .home-dl dt,.register .home-dl dt {
    margin-top: 150px;
    height: auto;
    width: 100%; 
}
.avital .home-dl dt img,.home .home-dl dt img,.register .home-dl dt img {
      height: auto;
      width: 100%; 
}
.avital .home-dl dd,.home .home-dl dd,.register .home-dl dd {
    padding: 20px 0;
    color: #1F1C27;
    text-align: center;
    background: #FFFFFF;
    line-height: 20px;
    font-size: 16px; 
}
.avital .home-dl dd div,.home .home-dl dd div,.register .home-dl dd div {
      color: #D5D5D7;
      font-size: 14px; 
}
.home-div {
  text-align: center;
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  background: #000;
  opacity: 0.8; 
}

.home-but {
  position: absolute;
  bottom: 22px;
  left: 10%;
  width: 80%;
  height: 44px;
  border-radius: 22px;
  background: #0C76DC;
  border-color: #0EAAFF;
  z-index: 10;
  color: #fff;
  font-weight: 700; 
}
.avital-ul,.register-ul {
  position: absolute;
  top: 110px;
  left: 0;
  width: 100%;
  z-index: 10;
  list-style: none; 
}
.avital-ul li,.register-ul li {
    margin-left: 10%;
    width: 80%;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    border-bottom: 2px solid #fff;
    margin-top: 20px; 
}
.avital-ul li input,.register-ul li input {
      border: none;
      background: none;
      color: #fff;
      text-align: center; 
}

.avital-but {
  bottom: 150px; 
}

.register-but {
  bottom: 80px; 
}

.avital-div {
  position: absolute;
  text-align: center;
  width: 100%;
  left: 0;
  bottom: 90px;
  z-index: 10; 
}
  .avital-div span {
    display: inline-block;
    width: 35%;
    height: 44px;
    line-height: 44px;
    text-align: center;
    color: #fff; 
}
.avital-div span:nth-child(1) {
      background: #3C4EB4;
      border-radius: 22px 0 0 22px; 
}
.avital-div span:nth-child(2) {
      background: #E2402B;
      border-radius: 0 22px 22px 0; 
}
.avital-p {
  position: absolute;
  text-align: center;
  width: 100%;
  left: 0;
  bottom: 40px;
  z-index: 10;
  color: #fff; 
}

*{
	margin:0;
	padding:0;
}
html, body, .box {
  height: 100%;
  width: 100%; }

.pro,
.profile,
.edit,
.social,
.social2,
.social3,
.news {
  height: 100%;
  width: 100%; }
  .pro h2,
  .profile h2,
  .edit h2,
  .social h2,
  .social2 h2,
  .social3 h2,
  .news h2 {
    height: 44px;
    line-height: 44px;
    font-size: 20px;
    text-align: center;
    color: #fff; }
    .pro h2 span,
    .profile h2 span,
    .edit h2 span,
    .social h2 span,
    .social2 h2 span,
    .social3 h2 span,
    .news h2 span {
      float: left;
      padding-left: 20px; }
    .pro h2 span img,
    .profile h2 span img,
    .edit h2 span img,
    .social h2 span img,
    .social2 h2 span img,
    .social3 h2 span img,
    .news h2 span img{
    	width:20px;
    	height:15px;
    }
    .pro h2 i,
    .profile h2 i,
    .edit h2 i,
    .social h2 i,
    .social2 h2 i,
    .social3 h2 i,
    .news h2 i {
      float: right;
      padding-right: 20px; }
    .pro h2 i img,
    .profile h2 i img,
    .edit h2 i img,
    .social h2 i img,
    .social2 h2 i img,
    .social3 h2 i img,
    .news h2 i img{
    	width:30px;
    	height:6px;
    }

.pro {
  background: url("../images/Profile.png");
  background-size: 100% 100%; }
  .pro .pro-div {
    padding-top: 80%;
    text-align: center;
    font-size: 20px;
    color: #fff; }
    .pro .pro-div p {
      padding-top: 10px;
      font-size: 18px; }
  .pro .pro-ul {
    display: -webkit-flex;
    -webkit-justify-content: space-around; }
    .pro .pro-ul li {
      margin-top: 25px;
      text-align: center;
      color: #fff;
      font-weight: 700; }
      .pro .pro-ul li p {
        font-weight: 400;
        font-size: 14px; }
  .pro .pro-but {
    margin-top: 30px;
    width: 40%;
    height: 44px;
    color: #fff;
    font-weight: 700;
    margin-left: 30%;
    line-height: 44px;
    border-color: #F90DDE;
    background: #E50ECE;
    border-radius: 100px; }
  .pro .pro-nav {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 44px;
    line-height: 44px;
    width: 100%;
    display: -webkit-flex;
    -webkit-justify-content: space-around;
    background: #fff;
    color: #000; }
    .pro .pro-nav span {
      text-align: center; }

.profile {
  background: url("../images/Profile_01.png") no-repeat;
  background-size: 100% 190px; 
}
  .profile .profile-img {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    border: 2px solid #fff;
    position: absolute;
    top: 135px;
    left: 37%; 
}
  .profile .profile-ul {
    padding-top: 155px;
    display: -webkit-flex;
    -webkit-justify-content: space-around;
    text-align: center; }
    .profile .profile-ul li {
      font-weight: 700;
      color: #333; }
      .profile .profile-ul li:nth-child(2) {
        padding-top: 50px; 
    }
      .profile .profile-ul li p {
        font-size: 14px;
        font-weight: 400;
        color: #8F8E93; }
  .profile .profile-but {
    margin: 20px 0;
    height: 40px;
    line-height: 40px;
    width: 40%;
    margin-left: 30%;
    background: #67E60D;
    border-color: #70F90D;
    font-weight: 700;
    color: #fff;
    border-radius: 20px; }
.profile .profile-Photo li {
    display: -webkit-flex;
    -webkit-justify-content: space-between; 
}
.profile .profile-Photo li img {
    width: 48%;
    height: 100px;
    margin-bottom: 9px; 
}

.edit {
  overflow: hidden; 
}
  .edit h2 {
    position: absolute;
    width: 100%;
    background: #1A1720; }
  .edit .edit-dl {
    padding: 70px 0;
    height: 50px;
    background: #F5F3F8; }
    .edit .edit-dl dt {
      float: left;
      height: 100px;
      width: 100px;
      background: #fff;
      border-radius: 50px;
      text-align: center;
      margin-left: 10px; }
      .edit .edit-dl dt img {
        margin-top: 20px;
        height: 50px;
        width: auto; }
    .edit .edit-dl dd {
      margin-top: 45px;
      float: left;
      padding-left: 10px;
      color: #BEBBC2;
      font-size: 14px; }
  .edit .edit-ul li {
    color: #A6A4A9;
    height: 45px;
    line-height: 45px;
    padding: 0 10px;
    border-bottom: 1px solid #D2D2D2; }
    .edit .edit-ul li span {
      float: right;
      color: #000; }
.lia1{
	text-align: right;
	border:none;
}
.edit-lab input {
  display: none; }
  .edit-lab input:checked + .tack .handler {
    background: #FFFFFF;
    margin-left: 20px;
    -webkit-transition: margin-left 0.5s; }
  .edit-lab input:checked + .tack {
    background:#7400FF;
    -webkit-transition: background 3s; }
.edit-lab .tack {
  margin-top: 10px;
  height: 30px;
  width: 50px;
  border-radius: 15px;
  border: 1px solid #ccc; }
  .edit-lab .tack .handler {
    height: 28px;
    width: 29px;
    border-radius: 100%;
    border: 1px solid #ccc;
    margin-left: 0;
    background: #FFFFFF;
    -webkit-transition: margin-left 0.8s; }

.social h2 {
  background: #1D1A23; }
.social .social-div {
  margin-top: 10px;
  text-align: center; }
  .social .social-div input {
    padding-left: 10px;
    width: 70%;
    background: #F4F2F7;
    height: 30px;
    border: none;
    border-radius: 15px 0 0 15px; }
  .social .social-div span {
    display: inline-block;
    width: 50px;
    height: 30px;
    line-height: 25px;
    border-radius: 0 15px 15px 0;
    background: #F5F3F8; }
.social .social-ul li {
  margin-top: 20px;
  display: -webkit-flex;
  -webkit-justify-content: space-around; }
  .social .social-ul li dl {
    text-align: center; }
    .social .social-ul li dl dd {
      margin-top: 10px;
      color: #000; }
    .social .social-ul li dl img {
      width: 100px;
      height: 100px; }

.social2 .social2-mark {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #5A31A9;
  opacity: 0.9; }
.social2 .social2-d {
  position: absolute;
  top: 10%;
  left: 7%;
  width: 85%;
  height: 80%;
  background: #fff; }
.social2 .social2-dl {
  text-align: center; }
  .social2 .social2-dl dt {
    width: 100%;
    height: 200px; }
    .social2 .social2-dl dt img {
      width: 100%;
      height: 100%; }
  .social2 .social2-dl dd {
    margin-top: 15px;
    font-weight: 700; }
    .social2 .social2-dl dd p {
      font-size: 12px;
      font-weight: 400;
      margin-top: 10px; }
.social2 .social2-ul {
  display: -webkit-flex;
  -webkit-justify-content: space-around;
  text-align: center;
  margin-top: 30px;
  font-weight: 700; }
  .social2 .social2-ul p {
    font-size: 14px;
    font-weight: 400; }
.social2 .social2-div {
  margin-top: 20px;
  display: -webkit-flex;
  -webkit-justify-content: space-around; }
  .social2 .social2-div span {
    width: 35%;
    height: 34px;
    line-height: 34px;
    text-align: center; }
    .social2 .social2-div span:nth-child(1) {
      background: #6AED0D;
      color: #fff;
      border-radius: 22px; }
    .social2 .social2-div span:nth-child(2) {
      color: #913FFD; }

.social3 .social3-nav {
  display: -webkit-flex;
  -webkit-justify-content: space-around;
  height: 37px;
  line-height: 37px;
  border-top: 1px solid #34313A;
  background: #1E1B24; 
  color:#88878C;
}
.social3 .social3-nav .active{
	color:#fff;
	border-top:2px solid #80D1CD;
}
.social3 .social3-div {
  margin-left: 14px;
  margin-top: 8px; }
  .social3 .social3-div dl {
    height: 55px;
    width: 100%; }
    .social3 .social3-div dl dt {
      float: left; }
      .social3 .social3-div dl dt img{
      	 width:30px;
      	 height:30px;
      	 margin-top: 10px;
      }
    .social3 .social3-div dl dd {
      padding-top: 10px;
      margin-left: 10px;
      float: left;
      font-weight: 700;
      color: #000; }
      .social3 .social3-div dl dd p {
        font-size: 14px;
        font-weight: 400;
        color: #BABABC; }
  .social3 .social3-div ul {
    display: -webkit-flex;
    -webkit-justify-content: space-around; }
    .social3 .social3-div ul li {
      width: 240px; 
      margin-left: 5px;
  }
      .social3 .social3-div ul li img {
        width: 100%;
        height: auto; 
        border-radius: 5px;
    }

.news {
  background: #1F1923; }
  .news .news-div {
    margin-top: 48px;
    text-align: center; }
    .news .news-div h3 {
      color: #fff;
      font-size: 18px; }
    .news .news-div ul {
      color: #fff;
      font-size: 12px; }
      .news .news-div ul li {
        line-height: 20px; }
    .news .news-div button {
      color: #fff;
      margin-top: 20px;
      height: 44px;
      width: 40%;
      background: #DB0D3B;
      border-radius: 22px;
      border-color: #DB0D3B;
      margin-bottom: 55px; }
  .news .slide-o .home-dl {
    width: 45%; }
    .news .slide-o .home-dl:nth-child(1) {
      margin-left: 10px;
      float: left; }
    .news .slide-o .home-dl:nth-child(2) {
      margin-right: 10px;
      float: right; }
    .news .slide-o .home-dl dt {
      width: 100%;
      height: 190px; }
      .news .slide-o .home-dl dt img {
        height: 100%;
        width: 100%; }
    .news .slide-o .home-dl dd {
      background: #fff;
      padding-top: 10px; }
      .news .slide-o .home-dl dd h3 {
        font-weight: 700;
        line-height: 20px;
        color: #000; }
      .news .slide-o .home-dl dd ul {
        line-height: 15px;
        font-size: 12px;
        color: #E3E2E4; }
  .news .home-box {
    margin-top: 20px;
    text-align: center; }
    .news .home-box span {
      background: #fff; }

.news2 {
  padding-bottom: 10px;
  height: 627px; }
  .news2 .news2-div {
    margin: 12px;
    margin-bottom: 0;
    background: #fff;
    border-radius: 5px; }
    .news2 .news2-div h3 {
      text-align: center;
      padding-top: 20px;
      font-weight: 700;
      font-size: 18px; }
      .news2 .news2-div h3 p {
        margin-top: 5px; }
    .news2 .news2-div .news2-dll {
      text-align: center;
      margin-top: 10px; }
      .news2 .news2-div .news2-dll dt {
        display: inline-block;
        text-align: center;
        width: 90%; }
        .news2 .news2-div .news2-dll dt img {
          height: auto;
          width: 100%; }
      .news2 .news2-div .news2-dll dd {
        margin-top: 23px;
        font-size: 12px;
        color: #B2B0B4;
        line-height: 16px; }
    .news2 .news2-div .news2-p {
      margin-top: 10px;
      height: 20px;
      width: 100%; }
      .news2 .news2-div .news2-p dl {
        float: left; }
        .news2 .news2-div .news2-p dl dt {
          margin-left: 14px;
          float: left;
          height: 13px;
          width: 13px; }
          .news2 .news2-div .news2-p dl dt img {
            width: 100%;
            height: 100%; }
        .news2 .news2-div .news2-p dl dd {
          margin-left: 12px;
          line-height: 20px;
          float: left;
          font-size: 12px;
          color: #B2B0B4; }
  .news2 .news2-dl {
    padding-top: 20px;
    height: 70px;
    background: #fff;
    margin: 0 12px; }
    .news2 .news2-dl dt {
      margin-left: 15px;
      float: left;
      height: 38px;
      width: 38px; }
      .news2 .news2-dl dt img {
        width: 100%;
        height: 100%; }
    .news2 .news2-dl dd {
      margin-left: 8px;
      float: left;
      font-size: 14px;
      color: #000;
      font-weight: 700; }
      .news2 .news2-dl dd p {
        font-weight: 400; }

.news3 .news3-nav {
  height: 44px;
  color: #fff;
  background: #2A2330;
  font-weight: 700;
  line-height: 44px;
  display: -webkit-flex;
  -webkit-justify-content: space-around;
  border-top: 1px solid #322E37; }
.news3 .news3-div {
  display: -webkit-flex;
  -webkit-justify-content: space-between; }
  .news3 .news3-div .news3-l,
  .news3 .news3-div .news3-r {
    width: 50%; }
    .news3 .news3-div .news3-l .news3-but,
    .news3 .news3-div .news3-r .news3-but {
      margin-top: 18px;
      float: right;
      margin-right: 15px;
      color: #fff;
      font-weight: 700;
      height: 20px;
      font-size: 14px; }
    .news3 .news3-div .news3-l dl,
    .news3 .news3-div .news3-r dl {
      padding-left: 15px; }
      .news3 .news3-div .news3-l dl dt,
      .news3 .news3-div .news3-r dl dt {
        float: left;
        height: 30px;
        width: 30px; }
        .news3 .news3-div .news3-l dl dt img,
        .news3 .news3-div .news3-r dl dt img {
          width: 100%;
          height: 100%;
          border-radius: 15px; }
      .news3 .news3-div .news3-l dl dd,
      .news3 .news3-div .news3-r dl dd {
        float: left;
        font-size: 14px;
        padding-left: 7px;
        line-height: 30px;
        color: #fff; }
.news3 .news3-l {
  background: url("../images/news3_1.png") no-repeat;
  background-size: 100% 190px; }
  .news3 .news3-l .news3-but {
    background: #DE8A38;
    border: none; }
  .news3 .news3-l h3 {
    padding-top: 90px;
    padding-left: 15px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 10px; }
.news3 .news3-r .news3-but {
  background: #DE38A9;
  border: none; }
.news3 .news3-r h3 {
  padding-left: 15px;
  margin-top: 45px;
  font-weight: 700;
  font-size: 14px; }
.news3 .news3-r .news3-p {
  padding-left: 15px;
  font-size: 12px;
  margin-top: 18px;
  color: #A9A8AB; }

.shop {
  height: 627px;
  background: #1E1922; }
  .shop .shop-div {
    background: #fff;
    margin: 0 25px; }
    .shop .shop-div dl dt {
      width: 100%;
      height: 240px; }
      .shop .shop-div dl dt img {
        width: 100%;
        height: 100%; }
    .shop .shop-div dl dd {
      text-align: center;
      color: #79767D; }
      .shop .shop-div dl dd h3 {
        font-size: 18px;
        margin-top: 10px;
        color: #000;
        font-weight: 700; }
      .shop .shop-div dl dd p {
        margin-top: 10px;
        font-weight: 700;
        color: #79767D; }
    .shop .shop-div div {
      display: -webkit-flex;
      -webkit-justify-content: space-around;
      margin-bottom: 30px; }
      .shop .shop-div div img {
        width: 25%;
        height: 80px; }
  .shop .home-box {
    text-align: center; }
    .shop .home-box span {
      background: #fff; }
  .shop .shop-but {
    margin-left: 30%;
    margin-top: 20px;
    height: 40px;
    width: 40%;
    color: #fff;
    font-weight: 700;
    border-radius: 25px;
    background: #6903E3;
    border-color: #6903E3;
    margin-bottom: 30px; }

.shop2 {
  height: 627px;
  background: #1E1A24; }
  .shop2 .shop2-top {
    height: 300px;
    width: 100%;
    background: url("../images/Ecommerce.png") no-repeat;
    background-size: 100% 100%;
    margin-bottom: 10px;
    text-align: center; }
    .shop2 .shop2-top h4 {
      font-size: 22px;
      font-weight: 700;
      color: #fff;
      padding-top: 100px; }
    .shop2 .shop2-top .shop2-p {
      margin-top: 8px;
      color: #fff; }
  .shop2 .shop2-div {
    display: -webkit-flex;
    -webkit-justify-content: space-around; }
    .shop2 .shop2-div dl {
      text-align: center;
      width: 45%; }
      .shop2 .shop2-div dl dt {
        height: 170px; }
        .shop2 .shop2-div dl dt img {
          width: 100%;
          height: 170px; }
      .shop2 .shop2-div dl dd {
        font-size: 12px;
        padding-top: 10px;
        background: #fff; }
        .shop2 .shop2-div dl dd h3 {
          font-size: 16px;
          font-weight: 700;
          margin-top: 10px; }
        .shop2 .shop2-div dl dd p {
          font-size: 14px;
          padding: 10px 0;
          color: #827F85; }

.shop3 .shop3-div {
  padding-top: 14px;
  height: 140px;
  border-bottom: 1px solid #D2D2D4; }
  .shop3 .shop3-div dl {
    width: 80%;
    float: left; }
    .shop3 .shop3-div dl dt {
      float: left;
      margin-left: 10px;
      height: 115px; }
      .shop3 .shop3-div dl dt img {
        width: auto;
        height: 100%; }
    .shop3 .shop3-div dl dd {
      width: 50%;
      margin-left: 10px;
      float: left;
      color: #7100FF; }
      .shop3 .shop3-div dl dd h3 {
        color: #000;
        margin-bottom: 15px; }
      .shop3 .shop3-div dl dd p {
        font-size: 12px;
        color: #AFAEB1;
        margin-bottom: 15px; }
  .shop3 .shop3-div div {
    float: right;
    margin-right: 18px; }
    .shop3 .shop3-div div span {
      height: 30px;
      width: 30px;
      line-height: 30px;
      display: inline-block;
      background: #F0F0F2;
      text-align: center; }
    .shop3 .shop3-div div p {
      padding-left: 8px;
      font-size: 26px; }
      .shop3 .shop3-div div p:nth-child(1) {
        margin-bottom: 15px; }
      .shop3 .shop3-div div p:nth-child(3) {
        margin-top: 15px; }
.shop3 .shop3-d {
  background: #F7F7FA; }
  .shop3 .shop3-d p {
    padding: 35px 0;
    margin-left: 15px; }
    .shop3 .shop3-d p span {
      float: right; }
      .shop3 .shop3-d p span i {
        margin: 0 20px; }
  .shop3 .shop3-d .shop3-but {
    height: 35px;
    width: 70%;
    background: #1B1721;
    color: #fff;
    margin: 40px 0 40px 15%; }

.help h3 {
  padding: 65px 50px;
  background: #1C1820;
  color: #fff;
  line-height: 20px; }
.help .help-div {
  padding: 45px 50px 0 50px; }
  .help .help-div h4 {
    font-weight: 700; }
    .help .help-div h4 span {
      display: inline-block;
      width: 20px;
      height: 20px;
      border-radius: 12px;
      background: #F0E9F5;
      text-align: center;
      margin-right: 10px; }
  .help .help-div p {
    color: #A29FA4;
    font-size: 14px;
    margin: 5px 0; }
    .help .help-div p span {
      color: #80D0CD; }

.search .search-v {
  margin-bottom: 20px; }
.search .search-div {
  height: 120px;
  border-bottom: 1px solid #ccc; }
  .search .search-div dl {
    margin-left: 23px;
    margin-top: 10px; }
    .search .search-div dl dt {
      float: left;
      width: 80px;
      height: 95px; }
      .search .search-div dl dt img {
        height: 100%;
        width: 100%; }
    .search .search-div dl dd {
      padding-left: 10px;
      padding-top: 20px;
      float: left; }
      .search .search-div dl dd p {
        font-weight: 700; }
  .search .search-div span {
    float: right;
    padding-top: 30px;
    color: #7F00FE;
    padding-right: 15px; }
.search .search-b {
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 14px; }
